.admin{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

  overflow-x: hidden;
}

.admin__container{
  position: relative;
  width: 100%;
}


.admin__navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: #010101;
  transition: 0.5s;
  overflow: hidden;
}
.admin__navigation.admin__active{
  width: 60px;
}

.admin__navigation ul{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}
.admin__navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;

}

.admin__navigation ul li:hover{
  background: #1e496b;
}

.admin__navigation ul li:nth-child(1):hover{
  background: transparent;
}

.admin__navigation ul li a{
 position: relative;
 display: block;
 width: 100%;
 display: flex;
 text-decoration: none;
 color:#cdd5e4;
}

.admin__navigation ul li a .admin__icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.admin__navigation ul li a .admin__icon svg{
  color:#cdd5e4;
  font-size: 24px;
}

.admin__navigation ul li a .admin__title{
position: relative;
display: block;
padding: 0 10px;
height: 60px;
line-height: 60px;
white-space: nowrap;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cdd5e4;
  object-fit: contain;
}
.logoTitle{
  border-bottom: 1px solid #cdd5e4;
}
